/* MessagesComponent's private CSS styles */
h2 {
    color: yellow;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 3rem;
    text-align: center;
    
  }
  body {
    margin: 2em;
  }
  body, input[text], button {
    color: purple;
    font-family: Cambria, Georgia;
  }
  
  button.clear {
    font-family: Arial;
    background-color: #eee;
    border: none;
    padding: 5px 10px;
    border-radius: 4px;
    cursor: pointer;
    cursor: hand;
  }
  button:hover {
    background-color: #cfd8dc;
  }
  button:disabled {
    background-color: #eee;
    color: #aaa;
    cursor: auto;
  }
  button.clear {
    color: #333;
    margin-bottom: 12px;
  }

  .contentComponentList {
    color: #fff;
    font-weight: bold;
    font-size: large;
    background-color: darkgreen;
    padding: 20px 10px;
    text-align: center;
    width: 400px;
    margin: 0 auto;
  }