<app-content-card *ngFor ="let contentIndividual of (contentList | contentTypeEquals:'Canadian News'); last as isLast" class="item-{{contentIndividual.type}}" [content]="contentIndividual" [class.is-last] = "isLast">
    {{ contentIndividual }}
</app-content-card>

<app-content-card *ngFor ="let contentIndividual of (contentList | contentTypeEquals:'International News'); last as isLast" class="item-{{contentIndividual.type}}" [content]="contentIndividual" [class.is-last] = "isLast">
    {{ contentIndividual }}
</app-content-card>
