:host{
    
    width: 500px;
    display: block;
    margin: 10px auto;
}


  
  .example-header-image {
    background-image: url("https://www.computerhope.com/jargon/g/guest-user.jpg");
    background-size: cover;
  }
  
